<div class="card rounded-0 mt-3 mb-3">
	<div class="card-body">
  <h1 class="text-center">International Public School</h1>
	</div>
	
    <%#= link_to image_tag("pexelseye", alt: "logo", width:"100%" ) %>

 </div>
 <%= link_to image_tag("school1", alt: "logo", width:"100%" , height:"90%" ) %>

    <p><strong>At [INTERNATIONAL PUBLIC SCHOOL], we inspire excellence and nurture growth, preparing students to make their mark on the world. Join us and be a part of something extraordinary.
  </strong></p>
<%#= link_to image_tag("school1", alt: "logo", width:"100%" , height:"70%" ) %>
<p>
    	Welcome to [International Public School ], where every day is an opportunity to explore, learn, and grow. Our vibrant community is dedicated to fostering a love of learning, encouraging personal growth, and building a strong foundation for future success.
    	<strong>Arts & Culture: We celebrate creativity and self-expression through our vibrant arts programs. Students can participate in music, theater, visual arts, and more, showcasing their talents and contributing to our rich cultural tapestry.</strong>
    </p>

    <p>
    	At This Academy, we believe that education should be a transformative experience. Our mission is to empower students to become compassionate, confident, and responsible global citizens. We strive to create an environment where academic excellence, character development, and a sense of community go hand in hand.
    	<strong>Innovative Learning Spaces: We have designed our learning spaces to be flexible and adaptable, encouraging collaboration, creativity, and critical thinking. Our library, maker spaces, and study lounges offer students the opportunity to engage in independent research, group projects, and creative pursuits.</strong>
    </p>

    <p>
    	a place where educational excellence and innovative learning come together to create an inspiring and supportive environment for every student. Our mission is to foster a love of learning and equip students with the skills and knowledge they need to succeed in an ever-changing world.
    </p>
<%#= link_to image_tag("pexelseye", alt: "logo", width:"100%" ) %>


<%#= render 'shared/links'   %>

