
<div class="col-lg-10 mx-auto">
	<h2 class="text-center">Amount </h2>
  <ol>
  	<h3>Tuition Fees</h3>
  	<ul>Preschool: $5,000 per year</ul>
  	<ul>Kindergarten: $6,500 per year</ul>
  	<ul>Grades 1-5: $8,000 per year</ul>
  	<ul>Grades 6-8: $9,500 per year</ul>
  	<ul>Grades 9-12: $12,000 per year</ul>
  </ol>

  <ol >
  	<h3>Additional Fees</h3>
  	<ul>Registration Fee: $200 (non-refundable, due upon acceptance)</ul>
  	<ul>Books and Supplies: Approximately $500 per year</ul>
  	<ul>Technology Fee: $150 per yea</ul>
  	
  </ol>
	<%#= render 'shared/dummy_content'  %>
<hr>
<p>
	Join the [international public School ] family! Our admissions process is designed to be straightforward and inclusive. We welcome students from diverse backgrounds and strive to make the transition into our school as smooth as possible. Visit our Admissions page for more information on how to apply.
</p>
</div>
<%#= render 'shared/links'   %>

