<%# <h1>Students Data</h1> %>

<%= link_to 'About Us', about_path, target: '_blanck' ,style: 'color:green'  %>
<%= link_to 'Activity', activity_path, target: '_blanck' ,style: 'color:green'  %>
<%= link_to 'Amount', amount_path, target: '_blanck' ,style: 'color:green'  %>
<%= link_to 'Contact Us', contact_path, target: '_blanck' ,style: 'color:green'  %>

