<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h2>minakshi</h2>
<p>minakshi kumari tiwari minnu kumari tiwari muhcunhduccuhcdijidchn uhcdb ucui </p>

<p>my name is minakshi kumari</p>

<%= render 'shared/links'%>
<%# <%= link_to 'about us', about_us_path  %>

<!-- #ye tarika sahi hai -->


<%#= link_to 'about us', '/about_us' %>

<%# <%= link_to nil, about_us_path %> 
