<div class="col-lg-12">
	<div class="card rounded-0 mt-5 mb-5">
	<div class="card-body">
  <h1 class="text-center"> course Details</h1>
  

<p class="lead"><strong>Name:</strong> <%= @course.c_name %></p>
  	<p class="lead"><strong>Teacher Name:</strong> <%= @course.teacher.first_name %></p>
   

 
  <%=  link_to 'Back to student', courses_path, class: 'btn btn-outline-primary btn-lg'   %>

   <%=  link_to 'Edit Student', edit_course_path(@course), class: 'btn btn-primary btn-lg'   %>
	</div>
</div>

</div>
