 <h1>Page</h1>

<%= link_to 'about us', about_us_path, target: 'blank', style: 'color:green;' %>
<%= link_to 'privacy policy', privacy_policy_path, target: 'blank', style: 'color:green;' %>
<%= link_to 'contact us', contact_us_path, target: 'blank', style: 'color:green;' %>
