<h1>Page#about_us</h1>
<p>Find me in app/views/page/about_us.html.erb</p>
 <p>mmhhbucu uheicew ygrvb cgdiug ygueu ugf uighiurgvbug </p>
<%= link_to 'about us', about_us_path %>
<%= link_to 'privacy policy', privacy_policy_path %>
<%= link_to 'contact us', contact_us_path %>
